{% extends "base.html" %}
{% block content %}
 <div style="width:650px">
    {% if info %}
        <div style="float:left; width:300px">
        <p>Имя:{{ info.first_name }}</p>
        <p>Фамилия:{{ info.last_name }}</p>
        <p>Дата рождения:{{ info.birth_date|date:'d-m-Y' }}</p>
        <p>Биография:{{ info.bio|escape|linebreaks }}</p>
 </div>
<div style="float:right; width:300px">
        <p>e-mail:{{ info.email }}</p>
        <p>jabber:{{ info.jabber }}</p>
        <p>skype:{{ info.skype }}</p>
        <p style = "height:300">Другое:{{ other_contacts|escape|linebreaks }}</p>

</div>
    {% else %}
   <p>Данных нет</p>
{% endif %}
 </div>
{% endblock %}


