{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
 <div style="width:650px">
    {% if info %}
        <div style="float:left; width:300px">
        <p>Имя:{{ info.first_name }}</p>
        <p>Фамилия:{{ info.last_name }}</p>
        <p>Дата рождения:{{ info.birth_date|date:'d-m-Y' }}</p>
        {% thumbnail info.photo "300x400" crop="center" as im %}
            <img src="{{ im.url }}" width="300" height="400" alt="{{ info.last_name }}{{ info.first_name }} ">
        {% endthumbnail %}

 </div>
<div style="float:right; width:300px">
        <p>e-mail:{{ info.email }}</p>
        <p>jabber:{{ info.jabber }}</p>
        <p>skype:{{ info.skype }}</p>
        <p style = "height:300">Другое:{{ other_contacts|safe }}</p>
        <p>Биография:{{ info.bio|safe }}</p>

</div>
    {% else %}
   <p>Данных нет</p>
{% endif %}
 </div>
{% endblock %}


